.sider {
  flex: 0 0 200px;
  max-width: 400px;
  min-width: 400px;
  width: 200px;
}
.header {
  color: #fff;
}
.header .btn_logout {
  margin-left: 20px;
  background-color: rgb(157, 4, 4);
  padding: 10px 15px;
  cursor: pointer;
}
